<header id="header-home">
  <div class="container">
    <nav id="navbar">
      <a
        style="text-decoration: none"
        routerLinkActive="current1"
        href=""
        routerLink=""
        ><img src="./../assets/logocrop.jpg" alt="" id="logo"
      /></a>
      <ul>
        <li>
          <a href="#" routerLink="/courses" routerLinkActive="current"
            >Courses</a
          >
        </li>
        <li>
          <a routerLinkActive="current" routerLink="/about" href="#"
            >About Us</a
          >
        </li>
        <li>
          <span style="font-weight: 600">Exams&nbsp;&nbsp;</span>
          <i class="fas fa-angle-down"></i>
          <ul>
            <li>
              <a routerLink="/examdetails/gate">GATE</a>
            </li>

            <li>
              <a routerLink="/examdetails/ipate" href="#">iPATE</a>
            </li>
            <li>
              <a routerLink="/examdetails/bhel" href="#">PSU</a>
            </li>
          </ul>
        </li>
        <li>
          <span style="font-weight: 600">Downloads&nbsp;&nbsp;</span>
          <i class="fas fa-angle-down"></i>
          <ul>
            <li>
              <a routerLink="/examdetails/gate">GATE</a>
            </li>

            <li>
              <a routerLink="/examdetails/ipate" href="#">iPATE</a>
            </li>
            <li>
              <a routerLink="/examdetails/bhel" href="#">PSU</a>
            </li>
          </ul>
        </li>

        <li style="padding-left: 0rem">
          <div style="width: 33%; float: left">
            <a
              style="cursor: pointer; margin-left: 12px"
              routerLink="/userdashboard/profile/false"
              href=""
            >
              <span
                *ngIf="isLoggedIn$ | async"
                class="material-icons"
                style="color: rgba(7, 196, 251, 1)"
              >
                <img
                  *ngIf="profilePhoto !== null"
                  [src]="transform(profilePhoto)"
                  style="width: 4rem; height: 4rem; border-radius: 50%"
                  alt=""
                />
                <img
                  src="./../../assets/download.jpg"
                  *ngIf="profilePhoto === '' || profilePhoto === null"
                  style="width: 4rem; height: 4rem; border-radius: 50%"
                  alt=""
                />
              </span>
            </a>
            <a *ngIf="isLoggedOut$ | async" routerLink="/login">Login</a>
            <button
              style="border-color: #07c4fb; margin-left: 1rem"
              *ngIf="isLoggedIn$ | async"
            >
              <a (click)="logout()" routerLink="/login">Logout</a>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
