<header id="header-home">
  <div class="container">
    <nav id="navbar">
      <a
        style="text-decoration: none"
        routerLinkActive="current1"
        href=""
        routerLink=""
        ><img src="./../assets/logocrop.jpg" alt="" id="logo"
      /></a>
      <ul>
        <li>
          <a href="#" routerLink="/courses" routerLinkActive="current"
            >Courses</a
          >
        </li>
        <li>
          <a routerLinkActive="current" routerLink="/about" href="#"
            >About Us</a
          >
        </li>
        <li class="exams">
          <span style="font-weight: 600">Exams&nbsp;&nbsp;</span>
          <i class="fas fa-angle-down"></i>
          <ul>
            <li>
              <a routerLink="/examdetails/gate">GATE</a>
            </li>
            <li>
              <a (click)="downloadSoon()"  href="#">ESE</a>
            </li>
            <li>
              <a  routerLink="/examdetails/bhel" href="#">PSU</a>
            </li>
            <li>
              <a routerLink="/examdetails/ipate" href="#">iPATE</a>
            </li>
            <li>
              <a (click)="downloadSoon()" href="#">IIT-JAM</a>
            </li>
            <li>
              <a (click)="downloadSoon()" href="#">TIFR</a>
            </li>
            <li>
              <a (click)="downloadSoon()" href="#">JEST</a>
            </li>
          </ul>
        </li>
        <li>
          <span style="font-weight: 600">Downloads&nbsp;&nbsp;</span>
          <i class="fas fa-angle-down"></i>
          <ul>
            <li>
              <a (click)="examDownload('1')">GATE</a>
            </li>

            <li>
              <a (click)="examDownload('2')" routerLink="/download/iPATE">iPATE</a>
            </li>
            <li>
              <a (click)="examDownload('3')" routerLink="/download/ESE">ESE</a>
            </li>
            <li>
              <a (click)="examDownload('4')" routerLink="/download/IIT-JAM">IIT-JAM</a>
            </li>
            <li>
              <a (click)="examDownload('5')" routerLink="/download/PSU">ISRO</a>
            </li>
            <li>
              <a (click)="examDownload('6')" routerLink="/download/TIFR">TIFR</a>
            </li>
            <li>
              <a (click)="examDownload('7')" routerLink="/download/JEST">JEST</a>
            </li>
            <li>
              <a (click)="examDownload('8')" routerLink="/download/PSU">BARC</a>
            </li>
          
          </ul>
        </li>

        <li style="padding-left: 0rem">
          <div style="width: 33%;float: right;margin-left: 120px;">
            <a
              style="cursor: pointer; margin-left: -62px"
              routerLink="/userdashboard/profile/false"
              href=""
            >
              <span
                *ngIf="isLoggedIn$ | async"
                class="material-icons"
                style="color: rgba(7, 196, 251, 1)"
              >
                <img
                  *ngIf="profilePhoto !== null"
                  [src]="transform(profilePhoto)"
                  style="width: 4rem; height: 4rem; border-radius: 50%;margin-bottom: 20px"
                  alt=""
                />
                <img
                  src="./../../assets/download.jpg"
                  *ngIf="profilePhoto === '' || profilePhoto === null"
                  style="width: 4rem; height: 4rem; border-radius: 50%;margin-bottom: 20px"
                  alt=""
                />
              </span>
            </a>
            <a *ngIf="isLoggedOut$ | async" routerLink="/login">Login</a>
            <button
              style="border-color: #07c4fb;margin-left: -4rem;padding: 2px 5px;background-color: #07c4fb;border-radius: 5px;"
              *ngIf="isLoggedIn$ | async"
            >
              <a style="color: white;" (click)="logout()" routerLink="/login">Logout</a>
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
