#main-footer {
  background: url(./../../assets/Footer.png) no-repeat center top/cover;
  color: #fff;
  width: auto;
  height: auto;
  z-index: -3;
  margin-top: 2rem;

  #footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      height: 2rem;
    }
    h4 {
      text-align: center;
      color: white;
      margin-bottom: 1rem;
    }
    input,
    textarea {
      width: 18rem;
      padding: 0.3rem;
      outline: none;
      border: 2px solid #333;
      border-radius: 10px;
      margin: 0.2rem;
      font-size: 1rem;
    }
    textarea::placeholder {
      font-size: 1.1rem;
    }
  }

  .footer-content {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 13rem;
    align-items: flex-end;
    padding-bottom: 1rem;

    .social {
      display: flex;
      flex-direction: row;
      order: 3;
      margin-right: 5rem;
    }

    .social .fab {
      margin-right: 1rem;
      border: 2px #07c4fb solid;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: #07c4fb;
      }
    }
  }
}

.footer-license {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 10;
  flex-grow: 2;
  color: white;
  order: 1;
  margin-left: -60px;
  a {
    color: white;
    margin-left: 5rem;
  }
}
.social-logo {
  margin: 0.5rem 5rem 0.5rem 5rem;
  background: #07c4fb;
  color: white;
}

form {
  order: 1;
}
.license-link {
  cursor: pointer;
  margin-top: 2rem;
}

@media (max-width: 500px) {
  #main-footer {
    height: auto;
    width: 100%;

    .footer-content {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      margin: auto;
      color: #333;

      .social {
        flex-direction: row;
        order: 2;
      }
    }
    #footer-form {
      h4 {
        color: black;
      }
    }
  }
  form {
    order: 1;
  }

  .footer-license {
    flex-direction: row;
    font-size: 0.8rem;
    order: 3;

    a {
      margin: 0.5rem;
    }
  }
  .social-logo {
    margin: 0.5rem 0rem 0.5rem 0rem;
    order: 3;
  }
  .license-link {
    color: white;
  }
}

.submit-btn {
  width: 100%;
  padding: 0.8rem;
  background: #07c4fb;
  border: 1px solid #07c4fb;
  border-radius: 30px;
  margin-top: 0.5rem;
  outline: none;
  cursor: pointer;
}

.bgimage2 {
  width: 20%;
  right: 100%;
}
