#main-footer {
  background: url(./../../assets/Footer.png) no-repeat center top/cover;
  color: #fff;
  width: auto;
  height: auto;
  margin-top: 2rem;

  .footer-content {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 13rem;
    align-items: flex-end;
    padding-bottom: 1rem;

    .social {
      display: flex;
      flex-direction: row;
      order: 3;
      margin-right: 5rem;
    }

    .social .fab {
      margin-right: 1rem;
      border: 2px #07c4fb solid;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;

      &:hover {
        background: #07c4fb;
      }
    }
  }
}

.footer-license {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 2;
  color: white;
  order: 1;
  margin-left: -60px;
  a {
    color: white;
    margin-left: 5rem;
  }
}
.social-logo {
  margin: 0.5rem 5rem 0.5rem 5rem;
  background: #07c4fb;
  color: white;
}

.license-link {
  cursor: pointer;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  #main-footer {
    height: 50vh;
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
      }
    }
  }
  .footer-license {
    text-align: center;
  }
  .social-logo {
    margin: 5px;
  }
}
