
<footer id="main-footer">
  <div class="footer-content container">
    <div class="footer-license" id="license-terms">
      <a class="license-link">Terms and Conditions</a>
      <a class="license-link">Privacy Policy</a>
      <a class="license-link">Contact Us</a>
    </div>
    <div class="social">
      <a target="_blank" href="https://www.facebook.com/egate.tutor.18"
        ><i class="fab social-logo  fa-facebook-square"></i
      ></a>
      <a target="_blank" href="#"><i class="fab social-logo fa-telegram"></i></a>
      <a target="_blank" href="https://www.instagram.com/egatetutor/"
        ><i class="fab social-logo fa-instagram"></i
      ></a>
      <a target="_blank" href="https://www.youtube.com/egatetutor"
        ><i class="fab social-logo fa-youtube"></i
      ></a>
     
    </div>
  </div>
</footer>
