<footer id="main-footer">
  <div class="footer-content container">
    <div class="footer-license" id="license-terms">
      <a class="license-link">Terms and Conditions</a>
      <a class="license-link" routerLink="/Careers">Careers</a>
      <a class="license-link">Privacy Policy</a>
    </div>
    <div class="footer-license" id="license-terms">
      <div><span style="margin-bottom: 1rem;margin-right: 1rem;"
          class="material-icons">local_phone</span>+91-7993270532, 9908193642</div>
     <div> <span style="margin-bottom: 1rem;margin-right: 1rem;" class="material-icons">
        email
      </span>support@egatetutor.in</div>
      <div><span style="margin-right: 1rem;" class="material-icons">
        location_on
      </span>Hyderabad-500044, India</div>
    </div>

    <div class="social" >
      <a (click)="openFacebook()"  target="_blank"><i
          class="fab social-logo  fa-facebook-square"></i></a>
      <a  (click)="openTelegram()" target="_blank"><i class="fab social-logo fa-telegram"></i></a>
      <a (click)="openInsta()" target="_blank"><i class="fab social-logo fa-instagram"></i></a>
      <a  (click)="openYoutube()" target="_blank"><i class="fab social-logo fa-youtube"></i></a>
    </div>
  </div>
</footer>