<app-loader></app-loader>
<div
  cdkDrop
  id="exam-container"
  onbeforeunload=" return 'Do you really want to perform the action?'"
>
  <div id="logoimage">
    <img src="./../assets/logocrop.jpg" alt="" id="logo" />
  </div>
  <div id="question">
    <div id="question-section">
      <div
        id="head"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
        "
      >
        <div class="examCountClass">
          <mat-chip-list aria-label="Fish selection">
            <mat-chip style="background: rgb(68, 67, 67); color: white"
              ><b>{{ test_title }} </b>&nbsp;&nbsp;<mat-icon>info</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

        <div class="exam_information_div">
          <div class="notation_type_description diff_type_notation_area_inner">
            <div class="notation_typeDiv" title="Answered">
              <span class="answered">{{ totalAnsweredCount }}</span
              ><span class="type_title secAnswered" style="text-align: left"
                >Answered</span
              >
            </div>
            <div class="notation_typeDiv" title="Not Answered">
              <span class="not_answered">{{ totalNotAnsweredCount }}</span
              ><span class="type_title secNotAnswered" style="text-align: left"
                >Not Answered</span
              >
            </div>
            <div class="notation_typeDiv" title="Not Visited">
              <span class="not_visited">{{ totalNotVisitedCount }}</span
              ><span class="type_title secNotAttempted" style="text-align: left"
                >Not Visited</span
              >
            </div>
            <div class="notation_typeDiv" title="Marked for Review">
              <span class="review">{{ totalMarkedForReviewCount }}</span
              ><span class="type_title secMarkReview" style="text-align: left"
                >Marked for Review</span
              >
            </div>
            <div
              class="notation_typeDiv review_answer"
              id=""
              title="Answered &amp; Marked for Review (will be considered for evaluation)"
            >
              <span class="review_answered">{{
                totalMarkedForReviewWithAnswerCount
              }}</span
              ><span
                class="type_title secMarkedAndAnswered"
                style="text-align: left"
                >Answered &amp; Marked for Review (will be considered for
                evaluation)
              </span>
            </div>
          </div>
        </div>
        <div>
          <a style="color: black; cursor: pointer" (click)="hidecalc()"
            ><i class="fas fa-2x fa-calculator"></i
          ></a>

          <app-calculator
            style="position: absolute; z-index: 2000 !important"
            [ngClass]="calcstatus ? 'show' : 'hide'"
          ></app-calculator>
        </div>
      </div>
      <div
        *ngIf="questiontoShow !== undefined"
        id="head1"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h6 style="margin-top: 0.5rem; margin-bottom: 0.5rem">
          <b>SECTION</b>
        </h6>
        <h5>
          Time Left
          <countdown
            [config]="countdownconfig"
            (event)="timesUp($event)"
          ></countdown>
          hrs
        </h5>
      </div>

      <div id="section-tab">
        <mat-tab-group
          style="z-index: 1"
          (wheel)="scrollTabs($event)"
          #tabGroup
          (selectedTabChange)="selectedTab($event, questiontoShow)"
        >
          <mat-tab [label]="tab.key" *ngFor="let tab of question | keyvalue"
            ><ng-template mat-tab-label>
              {{ tab.key }}
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div *ngIf="questiontoShow !== undefined">
        <div
          id="head1"
          style="
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          "
        >
          <h5 style="margin-top: 1rem; margin-bottom: 0.5rem; color: #f05666">
            QUESTION TYPE : {{ questiontoShow.questionType }}
          </h5>
          <h6>
            Marks for correct answer
            <span style="color: green">{{ questiontoShow.marks }} </span> |
            Negative Marks
            <span style="color: red"> {{ questiontoShow.negativeMarks }}</span>
          </h6>
        </div>
        <hr style="color: #07c4fb; background: #07c4fb; height: 1px" />
        <div
          id="quesOuterDiv"
          style="height: auto; overflow: hidden; position: relative"
        >
          <div id="questionandanswer">
            <h4 style="margin: 0.2rem 0rem">Question No: {{ count }}</h4>
            <a target="_blank">
              <img
                [src]="transform(questiontoShow.question)"
                style="height: auto; width: 50vw"
                alt=""
              />
            </a>
            <form
              #f="ngForm"
              (ngSubmit)="
                questiontodisplayincrement(
                  f,
                  questiontoShow.id,
                  questiontoShow.questionType
                )
              "
            >
              <div
                id="radioButtonGroup"
                *ngIf="questiontoShow.questionType === 'MCQ'"
              >
                <mat-radio-group
                  name="optionSelected"
                  [(ngModel)]="currentOption"
                  required
                  BlockCopyPasteDirective
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.5rem;
                  "
                  aria-label="Select an option"
                >
                  <mat-radio-button style="margin-top: 0rem" value="A"
                    >A</mat-radio-button
                  >
                  <mat-radio-button value="B">B</mat-radio-button>
                  <mat-radio-button value="C">C</mat-radio-button>
                  <mat-radio-button value="D">D</mat-radio-button>
                </mat-radio-group>
              </div>

              <div
                *ngIf="questiontoShow.questionType === 'NAT'"
                style="padding-left: 2%; margin-top: 20px; margin-bottom: 20px"
                id="numericKeyBoardDiv"
              >
                <input
                  type="text"
                  id="answer"
                  autocomplete="off"
                  class="keyboardInput answer"
                  value="{{ currentOption }}"
                  readonly
                />
                <div id="vKeyboard" class="vKeyboard">
                  <span class="vKeyboardSplKeys" style="border-radius: 6px"
                    >Backspace</span
                  ><br />
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >7</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >8</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px">9</span
                  ><br />
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >4</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >5</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px">6</span
                  ><br />
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >1</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >2</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px">3</span
                  ><br />
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >0</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px"
                    >.</span
                  >
                  <span class="vKeyboardKeys" style="border-radius: 6px">-</span
                  ><br />
                  <span
                    class="vKeyboardSplKeys"
                    data="left"
                    style="font-weight: normal; border-radius: 6px"
                    >←</span
                  >
                  <span
                    class="vKeyboardSplKeys"
                    data="right"
                    style="font-weight: normal; border-radius: 6px"
                    >→</span
                  ><br />
                  <span class="vKeyboardSplKeys" style="border-radius: 6px"
                    >Clear All</span
                  ><br />
                </div>
              </div>

              <div
                id="radioButtonGroup"
                *ngIf="questiontoShow.questionType === 'MSQ'"
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 0.5rem;
                  "
                >
                  <mat-checkbox
                    style="margin-top: 0rem"
                    value="A"
                    [(checked)]="IsAChecked"
                    (change)="onMSQChange($event, 'A')"
                    >A</mat-checkbox
                  >
                  <mat-checkbox
                    [(checked)]="IsBChecked"
                    (change)="onMSQChange($event, 'B')"
                    >B</mat-checkbox
                  >
                  <mat-checkbox
                    [(checked)]="IsCChecked"
                    (change)="onMSQChange($event, 'C')"
                    >C</mat-checkbox
                  >
                  <mat-checkbox
                    [(checked)]="IsDChecked"
                    (change)="onMSQChange($event, 'D')"
                    >D</mat-checkbox
                  >
                </div>
              </div>
              <div
                id="actnbtn"
                style="
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 0.4rem;
                "
              >
                <div
                  id="group1"
                  style="
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                  "
                >
                  <a
                    (click)="
                      markforreviewfun(
                        f,
                        questiontoShow.id,
                        questiontoShow.questionType
                      )
                    "
                    style="
                      text-decoration: none;
                      color: black;
                      margin-right: 2rem;
                      border-radius: 20px;
                      border: 1px solid #07c4fb;
                      padding: 0.4rem 1rem;
                      cursor: pointer;
                      outline: none;
                    "
                  >
                    Mark for Review & Next
                  </a>
                  <a
                    (click)="
                      clearResponse(
                        f,
                        questiontoShow.id,
                        questiontoShow.questionType
                      )
                    "
                    style="
                      text-decoration: none;
                      color: black;
                      border-radius: 20px;
                      border: 1px solid #07c4fb;
                      padding: 0.4rem 1rem;
                      cursor: pointer;
                      outline: none;
                    "
                  >
                    Clear Response
                  </a>
                </div>

                <div id="group2">
                  <button
                    type="submit"
                    style="
                      text-decoration: none;
                      background: #07c4fb;
                      color: white;
                      border-radius: 20px;
                      border: 1px solid #07c4fb;
                      padding: 0.6rem 1rem;
                      cursor: pointer;
                      outline: none;
                    "
                  >
                    <b>Save & Next</b>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="question-lookup">
      <mat-card
        style="
          z-index: 1;
          width: 100%;
          margin-left: 2rem;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
          background: #3f3d56;
        "
      >
        <div id="instruction">
          <a (click)="questionDialog()">
            <h5>
              <i
                style="
                  color: black;
                  background: white;
                  border-radius: 50%;
                  padding: 0.1rem;
                "
                class="fas fa-question"
              ></i
              >&nbsp;&nbsp;&nbsp;Question Paper
            </h5></a
          >
          <a (click)="instructionDialog()">
            <h5>
              <i
                style="
                  color: black;
                  background: white;
                  border-radius: 50%;
                  padding: 0.2rem 0.4rem;
                "
                class="fas fa-info"
              ></i
              >&nbsp;&nbsp;&nbsp;Instructions
            </h5></a
          >
        </div>
        <div
          id="profile-image"
          style="
            margin-left: 1rem;
            margin-top: 1rem;
            margin-bottom: -2rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
          "
        >
          <!-- <img src="./../../../../assets/profilr.jpg" alt="" /> -->
          <img
            *ngIf="profilePhoto !== null"
            [src]="transform(profilePhoto)"
            style="
              width: 6rem;
              height: 6rem;
              border-radius: 50%;
              margin-right: 10%;
              border: 3px solid white;
              margin-bottom: 0.5rem;
            "
            alt=""
          />
          <img
            src="./../../../../assets/download.jpg"
            *ngIf="profilePhoto === '' || profilePhoto === null"
            style="
              width: 6rem;
              height: 6rem;
              border-radius: 50%;
              margin-right: 10%;
              border: 3px solid white;
              margin-bottom: 0.5rem;
            "
            alt=""
          />
          <h3 style="color: white; margin-right: 10%">{{ name }}</h3>
        </div>
        <div id="buttoninstructions">
          <div class="diff_type_notation_area_outer">
            <div class="diff_type_notation_area_inner">
              <div class="notation_type_description">
                <div class="notation_typeDiv leftdiv_notation">
                  <span class="answered answeredCount" id="">{{
                    answeredCount
                  }}</span>
                  <span
                    class="type_title answeredLabel longtext-hide"
                    id=""
                    title="Answered"
                    >Answered</span
                  >
                </div>
                <div class="notation_typeDiv">
                  <span class="not_answered notAnsweredCount" id="">{{
                    notAnsweredCount
                  }}</span>
                  <span
                    class="type_title notAnsweredLabel longtext-hide"
                    id=""
                    title="Not Answered"
                    >Not Answered</span
                  >
                </div>

                <div class="clear"></div>
                <div class="notation_typeDiv leftdiv_notation">
                  <span class="not_visited notVisitedCount" id="">
                    {{ notVisitedCount }}</span
                  >
                  <span
                    class="type_title notVisitedLabel longtext-hide"
                    id=""
                    title="Not Visited"
                    >Not Visited</span
                  >
                </div>
                <div class="notation_typeDiv MarkForReviewDiv">
                  <span class="review markedCount" id="">{{
                    markedForReviewCount
                  }}</span>
                  <span
                    class="type_title markedLabel longtext-hide"
                    id=""
                    title="Marked for Review"
                    >Marked for Review</span
                  >
                </div>

                <div class="clear"></div>
                <div
                  class="notation_typeDiv answered_review_container review_answer"
                  id=""
                >
                  <span class="review_answered markedAnsweredCount" id="">{{
                    markedForReviewWithAnswerCount
                  }}</span>
                  <span
                    class="type_title markedAndAnsweredLabel"
                    id=""
                    title="Answered &amp; Marked for Review (will be considered for evaluation)"
                    >Answered &amp; Marked for Review (will be considered for
                    evaluation)</span
                  >
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
        <h4
          style="
            margin-top: 1rem;
            color: white;
            text-align: center;
            border: 1px solid rgb(151, 148, 148);
            background: rgb(151, 148, 148);
            padding: 0.2rem 7rem;
            margin-left: 1rem;
            width: 95%;
            border-radius: 5px;
          "
        >
          {{ selectedTabCurrent }}
        </h4>
        <div id="choosequestion">
          <h4 style="color: white; margin-left: 0.6rem">Choose a question</h4>
          <div class="grid-container question_area">
            <a
              *ngFor="let group of questionGroup; let i = index"
              (click)="
                sidebuttonforquestion(
                  i + 1,
                  questiontoShow,
                  questiontoShow.questionType
                )
              "
              ><div [ngStyle]="getStyles(group)" class="grid-item">
                {{ i + 1 }}
              </div></a
            >
          </div>
        </div>
        <div id="actionbtn" style="margin-left: 1rem; margin-top: 2rem">
          <a
            (click)="submittheanswer(true)"
            style="
              color: white;
              padding: 0.5rem 8rem;
              background: #99d12a;
              border-radius: 20px;
              margin: auto;
              width: 95%;
              text-align: center;
              cursor: pointer;
            "
          >
            <b>Submit</b>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</div>
