#exam-container {
  margin: 0rem 0rem 2rem 2rem;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  #logoimage {
    width: 100%;
    #logo {
      display: block;
      width: 15rem;
      height: auto;
      margin: 0.5rem auto;
    }
  }

  #question {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-section {
      #section-tab {
        height: 1rem;
        mat-tab-group {
          width: 72vw;
          height: 1rem;
        }
      }
    }
    &-lookup {
      width: 100%;
      float: right;
    }
  }
}

.mat-tab-label {
  height: 1.5rem !important;

  padding: 0;
  margin: 0.4rem 1rem;

  border: 1px transparent !important;
  border-radius: 10px;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  background: #07c4fb;
  padding: 0;
  margin: 0.4rem 1rem;
  color: white;
  border: 1px transparent !important;
  border-radius: 10px;
}

.mat-tab-header {
  background: #fff;
  border: 1px solid #bebebe !important;
  box-shadow: 0 0 20px 1px #bebebe;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background: none !important;
}
mat-radio-button {
  margin: 0.4rem 0rem;
}

#instruction {
  margin: 0.5rem;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h5 {
    color: white;
    margin-right: 2rem;
  }
}

#buttoninstructions {
  margin-left: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .row {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      margin-right: 2rem;
    }
  }
}

#choosequestion {
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: rgb(99, 87, 87);
  .grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .grid-item {
    color: black;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
  }
}

.show {
  display: block;
}
.hide {
  display: none;
}
.cdk_overlay-container {
  z-index: 2000 !important;
}

.cdk-drag-preview {
  z-index: 2000 !important;
}
