<mat-card style="margin-left: 3rem">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Create Test</ng-template>
        <mat-form-field>
          <mat-label>Test ID</mat-label>
          <input matInput formControlName="courseId" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required />
        </mat-form-field>

        <mat-form-field style="margin-left: 8rem">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <!-- <mat-label>Exam Code</mat-label>
          <input matInput formControlName="Exam_Code" required /> -->
          <mat-label>Exam Code</mat-label>
          <mat-select formControlName="examId" required>
            <mat-option *ngFor="let exam of exams_code" [value]="exam">
              {{ exam.examId }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="margin-left: 8rem">
          <mat-label>Total Marks</mat-label>
          <input type="number" matInput formControlName="totalMarks" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Number of Questions</mat-label>
          <input
            type="number"
            matInput
            formControlName="totalQuestion"
            required
          />
        </mat-form-field>

        <mat-form-field style="margin-left: 8rem">
          <mat-label>Duration Of Test(min)</mat-label>
          <input type="number" matInput formControlName="duration" required />
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input type="date" matInput formControlName="startDate" required />
        </mat-form-field>

        <mat-form-field style="margin-left: 8rem">
          <mat-label>End Date</mat-label>
          <input type="date" matInput formControlName="endDate" required />
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!firstFormGroup.valid"
            matStepperNext
          >
            Save
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitfile()">
        <ng-template matStepLabel>Upload Test</ng-template>
        <mat-form-field>
          <mat-label>Exam Code</mat-label>
          <mat-select
            formControlName="examId"
            required
            [(ngModel)]="examCode"
            (ngModelChange)="onExamCodeSelect()"
          >
            <mat-option *ngFor="let exam of exams_code" [value]="exam">
              {{ exam.examId }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <!-- <mat-form-field>
          <mat-label>Test Id</mat-label>
          <input matInput formControlName="courseId" required />
        </mat-form-field> -->
        <mat-form-field>
          <mat-label>Test Code</mat-label>
          <mat-select formControlName="courseId" required>
            <mat-option *ngFor="let test of testList" [value]="test">
              {{ test }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />

        <input
          (change)="onFileSelected($event)"
          #fileInput
          type="file"
          id="file"
        />
        <br />

        <br />
        <div>
          <button mat-raised-button color="primary" matStepperNext>Save</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

<mat-card style="margin-left: 3rem; margin-top: 2rem; text-align: center">
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      text-align: center;
    "
  >
    <h2 style="text-align: center">Unverified User</h2>
  </div>
  <div
    *ngFor="let user of unverifiedUsers"
    style="
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    "
  >
    <p>{{ user.name }}</p>
    <p>{{ user.emailId }}</p>
    <img
      *ngIf="user.photo !== ''"
      [src]="transform(user.photo)"
      width="100px"
      height="100px"
      alt=""
    />
    <img
      *ngIf="user.photo === ''"
      src="./../../../../assets/not-found1.jpg"
      width="100px"
      height="100px"
      alt=""
    />

    <img
      *ngIf="user.signature !== ''"
      [src]="transform(user.signature)"
      width="100px"
      height="100px"
      alt=""
    />
    <img
      *ngIf="user.signature === ''"
      src="./../../../../assets/not-found1.jpg"
      width="100px"
      height="100px"
      alt=""
    />
    <img
      *ngIf="user.govtId !== ''"
      [src]="transform(user.govtId)"
      width="100px"
      height="100px"
      alt=""
    />
    <img
      *ngIf="user.govtId === ''"
      src="./../../../../assets/not-found1.jpg"
      width="100px"
      height="100px"
      alt=""
    />
    <form
      #f="ngForm"
      style="display: flex; flex-direction: column; align-items: center"
    >
      <textarea
        placeholder="Comment"
        name="comment"
        id="comment"
        cols="20"
        rows="2"
        ngModel
      ></textarea>
      <div
        style="
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <button
          style="margin-right: 0.5rem"
          type="submit"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          (click)="VerificationAction(true, user.id, f)"
        >
          <mat-icon>check</mat-icon>
        </button>
        <button
          style="margin-left: 0.5rem"
          type="submit"
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          (click)="VerificationAction(false, user.id, f)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </form>
  </div>
</mat-card>
