<div class="container">
  <div id="body">
    <div id="body-content">
      <div id="body-content-text">
        <img src="./../../assets/HomePage_WelcomeImage.png" alt="" />
        <div id="body-content-text-action">
          <a routerLink="/signup" class="bluebutton" href="#">Register Here</a>

          <a href="" style="color: #6b5e5e;" routerLink="/courses">
            <i
              style="
                border: 2px solid #07c4fb;
                padding: 0.5rem;
                border-radius: 50%;
              "
              class="fas right-arrow fa-arrow-right fa-2x"
            ></i
          ></a>
          <h3>
            Explore <br />
            Courses
          </h3>
        </div>
      </div>

      <div id="body-content-image">
        <img src="./../../assets/Group521.png" alt="" id="showcase-image" />
      </div>
    </div>
  </div>
  <div id="sliderContainer" style="margin-top: -2.5rem;">
    <ng-image-slider #nav
    [images]="bannerImagesObject"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{width: '100%', height: '60%'}"
    [animationSpeed]=4
    [autoSlide]="{interval: 2, stopOnHover: false}"
    slideImage="1"></ng-image-slider>
  </div>
  <div id="playStoreContainer" class="frame">
     <div class="bookInformation">
        <span class="bookText">BUY OUR BOOKS NOW ON</span>&nbsp;&nbsp;<a><img src="./../../assets/google-play-book-icon.png" alt="" id="googlePlay-image" /></a>
     </div>
  </div>
  <div id="bookSliderContainer" style="margin-top: 3rem;">
    <ng-image-slider #bij
    [images]="bookImagesObject"
    [infinite]="true"
    [manageImageRatio]="true"
    [imageSize]="{width: '20%', height: '50%',space: 3}"
    ></ng-image-slider>
  </div>
  <!-- <div id="course">
    <div class="course-card" id="course-gate">
      <h2 style="text-align: center;">GATE</h2>
      <ul>
        <li>
          <a
            [routerLink]="['/courses', 'gate', 'complete course']"
            class="button-look"
            >Complete Course</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'gate', 'online test series']"
            class="button-look"
            >Online Test Series</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'gate', 'video lectures']"
            class="button-look"
            >Video Lectures</a
          >
        </li>

        <li>
          <a
            [routerLink]="['/courses', 'gate', 'question bank']"
            class="button-look"
            >Question Bank</a
          >
        </li>
        <li>
          <a
            style="text-transform: none;"
            [routerLink]="['/courses', 'gate', 'e-study material']"
            class="button-look"
            href="#"
            >eSTUDY MATERIAL</a
          >
        </li>
      </ul>
    </div>
    <div class="course-card" id="course-ipat">
      <h2 style="text-align: center;">iPATE</h2>
      <ul>
        <li>
          <a
            [routerLink]="['/courses', 'ipate', 'complete course']"
            class="button-look"
            href="#"
            >Complete Course</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'ipate', 'online test series']"
            class="button-look"
            href="#"
            >Online Test Series</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'ipate', 'video lectures']"
            class="button-look"
            href="#"
            >Video Lectures</a
          >
        </li>

        <li>
          <a
            [routerLink]="['/courses', 'ipate', 'question bank']"
            class="button-look"
            href="#"
            >Question Bank</a
          >
        </li>
        <li>
          <a
            style="text-transform: none;"
            [routerLink]="['/courses', 'ipate', 'e-study material']"
            class="button-look"
            href="#"
            >eSTUDY MATERIAL</a
          >
        </li>
      </ul>
    </div>
    <div class="course-card" id="course-psu">
      <h2 style="text-align: center;">PSU</h2>
      <ul>
        <li>
          <a
            [routerLink]="['/courses', 'psu', 'isro']"
            class="button-look"
            href="#"
            >ISRO TEST SERIES</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'psu', 'barc']"
            class="button-look"
            href="#"
            >BARC TEST SERIES</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'psu', 'sail']"
            class="button-look"
            href="#"
            >SAIL TEST SERIES</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'psu', 'cil']"
            class="button-look"
            href="#"
            >CIL TEST SERIES</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'psu', 'bhel']"
            class="button-look"
            href="#"
            >RINL TEST SERIES</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/courses', 'psu', 'bhel']"
            class="button-look"
            href="#"
            >BHEL TEST SERIES</a
          >
        </li>
      </ul>
    </div>
  </div> -->

  <br /><br />
</div>
