<div class="container">
  <h2 style="color: #333; text-align: center; margin-top: 0rem;">ABOUT US</h2>
  <div></div>
  <div id="player" style="display: flex; flex-direction: column;">
    <div id="player-video">
      <video src="./../../assets/promo.mp4" controls></video>
      <p></p>
    </div>
    <h4
      style="
        margin-bottom: 1rem;
        text-align: right;
        text-align: center;
        font-style: italic;
      "
    >
      ...tutoring by grads from IIT's/IISc
    </h4>
    <div id="player-content">
      <p
        style="
          text-align: justify;
          color: #333;
          line-height: 1.6rem;
          font-size: 1.1rem;
        "
      >
        “eGATE Tutor is a leading online learning platform that helps students
        prepare primarily for the GATE examination. Keeping in mind the
        competition the exam poses and the level of conceptual clarity it
        demands we have designed courses with a unique learning methodology so
        that they can stand up and face the examination with ease. <br />
        <br />
        Through this online platform, students can have access to the various
        courses designed on a web based platform in their mobiles, tablets and
        laptops/PC. <br />
        <br />
        We believe that, in the days of Digital INDIA where technology plays a
        major part in the eLearning, every student should have the opportunity
        to prepare and design his career using it. In the initial step of the
        content and course design, care has been taken while preparing and all
        the content, tests and videos provided are designed by top notch faculty
        graduated from IIT’s and IISc in order to enhance the ability of the
        aspirant, in terms of problem solving.”
      </p>
    </div>
  </div>
</div>
