
<div   id="downloadsection">
    <div  style="background-color: #07c4fb;margin-top: 2rem;"  id="downloadsection-head">
      <h2 style="color: white; text-align: center;">{{selectedDownloadExamOption}}</h2>
    </div>
<div>
  <form #f="ngForm" (ngSubmit)="submitDownload(f)">
    <div style="margin:0rem 10rem;display: flex;flex-direction: row;align-items: flex-start;justify-content: space-evenly;margin-top: 5rem;">
        <mat-form-field style="width: 25%;">
            <mat-label>Select Topic</mat-label>
            <mat-select  ngModel required name="topic"  (ngModelChange)="onSelectSubsection($event)">
              <mat-option  *ngFor="let topic of topics" [value]="topic.id">
                {{topic.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 25%;">
            <mat-label>Select Branch</mat-label>
            <mat-select ngModel required name="branch">
              <mat-option *ngFor="let br of branch" [value]="br.id">
                {{br.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>   
          <button style="background-color: gray;" type="submit" mat-raised-button color="primary" >GO</button><br>   
              
    </div>
  </form>
    <!-- <div style="display: flex;align-items: center;justify-content: center;margin-top: 5rem;">
        <button mat-raised-button color="primary">Submit</button>
    </div> -->
    
    
      
</div>
          <mat-card
            id="contenttable"
            style="
              text-align: center;
              margin: 1rem 10rem;
              color: black;
              display: flex;
              align-items: center;
              justify-content: space-between;
            " *ngFor="let data of pageData"
          >
            <h3>{{data.topic}}</h3>
            <h4>
              <a
                style="
                  color: white;
                  background: #07c4fb;
                  padding: 0.4rem 1rem;
                  border-radius: 10px;
                "
                href="{{data.url1}}"
                >{{data.label1}}</a
              >
            </h4>
            <h4>
              <a
                style="
                  color: white;
                  background: #07c4fb;
                  padding: 0.4rem 1rem;
                  border-radius: 10px;
                "
                href="{{data.url2}}"
                >{{data.label2}}</a
              >
            </h4>
          </mat-card>
       
  </div>
  <div style="height: 25vh;"></div>