<app-loader></app-loader>
<div id="signup">
  <div class="container">
    <div id="signup-content">
      <div id="signup-content-image">
        <img src="./../../assets/Group311.png" alt="" />
      </div>
      <div id="signup-content-form">
        <div class="signup-card">
          <div style="color: white; text-align: center" id="form-head">
            <h2 style="padding-top: 1rem">Sign Up</h2>
          </div>
          <form
            class="signup-form"
            [formGroup]="signupForm"
            (ngSubmit)="onSubmit()"
          >
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <input
                    formControlName="name"
                    class="signup-input"
                    placeholder="  Name"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    formControlName="emailId"
                    class="signup-input"
                    placeholder="  Email"
                    type="text"
                  />
                </td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <input
                    formControlName="mobileNumber"
                    class="signup-input"
                    placeholder="  Mobile Number"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    formControlName="confirmemail"
                    class="signup-input"
                    placeholder="  Confirm Email"
                    type="text"
                    ngValidateEqual="emailId"
                  />
                </td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <input
                    formControlName="qualification"
                    class="signup-input"
                    placeholder="  Qualification"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    formControlName="university"
                    class="signup-input"
                    placeholder="  University/College"
                    type="text"
                  />
                </td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td style="padding-top: 0.3rem">
                  <label
                    style="color: white; margin-left: 1rem"
                    for="selectyear"
                    >Select Year</label
                  ><br />
                  <select
                    formControlName="targetYear"
                    class="signup-select"
                    aria-placeholder="Select Target Year"
                    name="selectyear"
                  >
                    <option selected disabled value="">
                      -- Select Target Year --
                    </option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                  </select>
                </td>
                <td style="padding-top: 1rem">
                  <label
                    style="color: white; margin-left: 1rem; margin-top: 2rem"
                    for="selectbranch"
                    >Select Branch</label
                  ><br />
                  <mat-form-field style="width: 15rem; margin-left: 0.5rem">
                    <mat-select formControlName="discipline" multiple>
                      <mat-option
                        *ngFor="let branch of branchMap | keyvalue"
                        [value]="branch.key"
                        >{{branch.value}}  ({{branch.key}})</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <textarea
                    formControlName="address"
                    class="signup-textarea"
                    placeholder="  Address"
                    type="text"
                  ></textarea>
                </td>
              </tr>
            </table>
            <table class="example-full-width" cellspacing="0">
              <tr>
                <mat-checkbox
                  formControlName="checkterm"
                  style="color: white; text-align: center; margin-left: 1rem"
                  class="example-margin"
                  >I HEREBY AGREE TO THE TERMS AND CONDITIONS
                </mat-checkbox>
              </tr>
              <tr>
                <td>
                  <div>
                    <button
                      [disabled]="!signupForm.valid"
                      class="large-btn"
                      type="submit"
                    >
                      <h3>Create</h3>
                    </button>
                  </div>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
