<app-loader ></app-loader>
<div id="contentcontainer">
  <mat-tab-group>
    <mat-tab label="ALL">
      <mat-card *ngFor="let exam of exams" class="example-card">
        <div
          *ngIf="exam.status === 'INACTIVE'"
          style="
            top: 0px;
            left: 0px;
            position: absolute;
            background: white;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            z-index: 1;
            border-radius: 20px;
          "
        ></div>
        <div
          *ngIf="exam.status === 'INACTIVE'"
          style="
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 60%;
            left: 87%;
            transform: translate(-50%, -50%);
            z-index: 2;
            opacity: 1;
          "
        >
          <a routerLink="/courses/gate/online test series">
            <img
              src="./../../../../assets/lock.jpg"
              width="50px"
              height="50px"
              alt=""
              style="margin-left: 2rem"
          /></a>
          <!-- <button
            class="btnactioncard"
            *ngIf="exam.status === 'INACTIVE'"
            style="background: red !important"
          >
            Buy Now
          </button> -->
        </div>

        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <svg height="100" width="100">
              <circle
                *ngIf="exam.status === 'COMPLETED'"
                cx="30"
                cy="30"
                r="30"
                fill="rgba(0,222,147,1)"
              />
              <circle
                *ngIf="exam.status === 'PENDING'"
                cx="30"
                cy="30"
                r="30"
                fill="#6C63FF"
              />
              <circle
                *ngIf="exam.status !== 'PENDING' && exam.status !== 'COMPLETED'"
                cx="30"
                cy="30"
                r="30"
                fill="#07C4FB"
              />
              <text
                x="30%"
                y="35"
                text-anchor="middle"
                stroke="black"
                stroke-width="1px"
              >
                {{ exam.abTitle | uppercase }}
              </text>
            </svg>
          </div>
          <mat-card-title
            style="
              display: flex;
              align-items: left;
              justify-content: space-between;
              flex-direction: column;
              margin-left: 1rem;
            "
          >
            <span>{{ exam.title }}</span>
            <span class="examDescription">{{exam.description}}</span>
          </mat-card-title>
          <!-- <div class="examDescription">{{ exam.description }}</div>  -->
          <h5
            *ngIf="exam.status !== 'PENDING' && exam.status !== 'COMPLETED'"
            style="color: red; position: absolute; right: 5%"
          >
            Start date: {{ exam.startDate  | date: 'dd/MM/yyyy' }}
          </h5>
          <h5
            *ngIf="exam.status === 'PENDING'"
            style="color: red; position: absolute; right: 5%"
          >
            {{ exam.checkForRemainingDays }}
          </h5>
        </mat-card-header>
        <mat-card-content id="card-content">
          <div id="cont">
            <div class="sub-cont">
              <h4>Total Questions</h4>
              <h5>{{ exam.totalQuestion }}</h5>
            </div>
            <div class="sub-cont">
              <h4>Total Marks</h4>
              <h5>{{ exam.totalMarks }}</h5>
            </div>
            <div class="sub-cont">
              <h4>Duration</h4>
              <h5>{{ exam.duration }}</h5>
            </div>
          </div>
          <button
            *ngIf="
              exam.status !== 'PENDING' &&
              exam.status !== 'COMPLETED' &&
              exam.isExamActive === true
            "
            (click)="startaction(exam.courseId, exam)"
            class="btnactioncard"
            style="background: #07c4fb"
          >
            Start Now
          </button>
          <button
            (click)="startaction(exam.courseId, exam)"
            class="btnactioncard"
            *ngIf="exam.status === 'PENDING' && exam.isExamActive === true"
            style="background: #6c63ff"
          >
            Continue
          </button>

          <button
            (click)="reportshow(exam)"
            class="btnactioncard"
            *ngIf="exam.status === 'COMPLETED'"
          >
            Report
          </button>
        </mat-card-content>
      </mat-card>
      <!-- <mat-paginator
        (page)="onPageChange($event)"
        [length]="exams.length"
        [pageSize]="5"
      >
      </mat-paginator> -->
    </mat-tab>
    <mat-tab *ngIf="exams[0]?.status !== 'INACTIVE'" label="INPROGRESS">
      <mat-card *ngFor="let exam of examsinprogress" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <svg height="100" width="100">
              <circle cx="30" cy="30" r="30" fill="#6C63FF" />
              <text
                x="30%"
                y="35"
                text-anchor="middle"
                stroke="black"
                stroke-width="1px"
              >
              {{ exam.abTitle | uppercase }}
              </text>
            </svg>
          </div>
          <!-- <mat-card-title>{{ exam.title }}</mat-card-title>  
          <div class="examDescription">{{ exam.description }}</div> 
               -->
               <mat-card-title
               style="
                 display: flex;
                 align-items: left;
                 justify-content: space-between;
                 flex-direction: column;
                 margin-left: 1rem;
               "
             >
               <span>{{ exam.title }}</span>
               <span class="examDescription">{{exam.description}}</span>
             </mat-card-title>
          <h5
            *ngIf="exam.status === 'PENDING'"
            style="color: red; position: absolute; right: 5%"
          >
            {{ exam.checkForRemainingDays }}
          </h5>
        </mat-card-header>
        <mat-card-content id="card-content" style="margin-top: 2rem">
          <div id="cont">
            <div class="sub-cont">
              <h4>Total Questions</h4>
              <h5>{{ exam.totalQuestion }}</h5>
            </div>
            <div class="sub-cont">
              <h4>Total Marks</h4>
              <h5>{{ exam.totalMarks }}</h5>
            </div>
            <div class="sub-cont">
              <h4>Duration</h4>
              <h5>{{ exam.duration }}</h5>
            </div>
          </div>

          <button
            (click)="startaction(exam.courseId, exam)"
            class="btnactioncard"
            *ngIf="exam.status === 'PENDING' && exam.isExamActive === true"
            style="background: #6c63ff"
          >
            Continue
          </button>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab *ngIf="exams[0]?.status !== 'INACTIVE'" click label="COMPLETED">
      <mat-card *ngFor="let exam of examscompleted" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <svg height="100" width="100">
              <circle cx="30" cy="30" r="30" fill="rgba(0,222,147,1)" />
              <text
                x="30%"
                y="35"
                text-anchor="middle"
                stroke="black"
                stroke-width="1px"
              >
              {{ exam.abTitle | uppercase }}
              </text>
            </svg>
          </div>
          <mat-card-title
          style="
            display: flex;
            align-items: left;
            justify-content: space-between;
            flex-direction: column;
            margin-left: 1rem;
          "
        >
          <span>{{ exam.title }}</span>
          <span class="examDescription">{{exam.description}}</span>
        </mat-card-title>
        </mat-card-header>
        <mat-card-content id="card-content">
          <div id="cont">
            <div class="sub-cont">
              <h4>Total Questions</h4>
              <h5>{{ exam.totalQuestion }}</h5>
            </div>
            <div class="sub-cont">
              <h4>Total Marks</h4>
              <h5>{{ exam.totalMarks }}</h5>
            </div>
            <div class="sub-cont">
              <h4>Duration</h4>
              <h5>{{ exam.duration }}</h5>
            </div>
          </div>

          <button
            (click)="reportshow(exam)"
            class="btnactioncard"
            *ngIf="exam.status === 'COMPLETED'"
          >
            Report
          </button>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
