<app-loader></app-loader>
<div class="container">
  <p style="font-size: 1.3rem; margin-bottom: 2rem; font-weight: bold">
    My Profile
  </p>
  <i class="fa fa-user" aria-hidden="true"></i>
  <span class="subheadings">&nbsp;&nbsp;PERSONAL INFORMATION</span>
  <mat-card class="card-design" style="margin: 1rem 0rem">
    <p class="panel-text">Name<span class="panelSpanText">&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; {{ user.user.name }}</span></p>
    <p class="panel-text">Email<span class="panelSpanText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp; {{ user.user.emailId }}</span></p>
    <p class="panel-text">Mobile<span class="panelSpanText">&nbsp;&nbsp;&nbsp;:&nbsp; {{ user.user.mobileNumber }}</span></p>
    <p class="panel-text">Address<span class="panelSpanText">:&nbsp; {{ user.user.address }}</span></p>
  </mat-card>

  <i style="color: rgb(48, 84, 151)" class="fa fa-folder"></i>
  <span>&nbsp;&nbsp;Profile</span>
  <mat-card class="card-design" style="margin: 1rem 0rem; padding: 0rem">
    <div class="prsnl-div" style="padding: 23px 0px 0px">
      <div class="lft_prt">
        <div class="rot_div">Photograph<sup style="color: #ac1a27">*</sup></div>
        <div class="phtgrph" id="samplePhoto">
          <span *ngIf="profilePhoto === null">Photograph<br />Passport Size<br />3.5x4.5cm<br />Size:200KB</span>
          <img
          *ngIf="profilePhoto !== null"
          [src]="transform(profilePhoto)"
          style="height: 109px;width: 132px;margin-top: -11px;margin-left:-1px;"
          alt="photo"
         />
        </div>
        <div *ngIf="isVerified === 'REJECTED' || isVerified === 'UNVERIFIED'" class="browse">
          <div class="outer-input-main new-int">
            <label id="photo_text">No file selected</label>
            <input
              class="custom-file-input"
              type="file"
              id="photo"
              name="photo"
              (change)="readURL($event, 1)"
              value=""
            />
            <div id="error1_text" class="custom-file-label" for="customFile">
              Upload Photo
            </div>
          </div>
        </div>
      </div>
      <div class="lft_prt" style="border-right: none">
        <div class="rot_div">Signature<sup style="color: #ac1a27">*</sup></div>
        <div class="phtgrph" id="sampleSign">
          <span *ngIf="signature === null">Signature<br />Size:200KB</span>
          <img
          *ngIf="signature !== null"
          [src]="transform(signature)"
          style="height: 109px;width: 132px;margin-top: -11px;margin-left:-1px;"
          alt="signature"
         />
        </div>
        <div  *ngIf="isVerified === 'REJECTED' || isVerified === 'UNVERIFIED'" class="browse">
          <div class="outer-input-main new-int">
            <label id="sign_text">No file selected</label>
            <input
              class="custom-file-input"
              type="file"
              id="sign"
              name="sign"
              (change)="readURL($event, 0)"
              value=""
            />
            <div id="error2_text" class="custom-file-label" for="customFile">
              Upload Signature
            </div>
          </div>
        </div>
      </div>
      <div class="new-error_msg" id="iErr" style="display: none">
        Please enter correct Email Id
      </div>
      <div class="lft_prt" style="margin: 7px 0px 0px"  *ngIf="isVerified === 'REJECTED' || isVerified === 'UNVERIFIED'">
        <div class="upload_proof">
          Please Upload ID Proof<sup style="color: #ac1a27">*</sup>
        </div>
        <div class="outer-input-main new-int" style="margin: 0px">
          <input
            class="custom-file-input"
            type="file"
            name="idcard"
            id="idcard"
            style="width: 165px"
            (change)="readURL($event, 2)"
          />
          <label id="id_proof" style="margin-top: 10px">No file selected</label>
          <div id="error3_text" class="custom-file-label" for="customFile">
            Upload ID Proof
          </div>
        </div>
      </div>
      <div
        class="lft_prt"
        id="collegeId"
        style="margin: 0px !important; display: none"
      >
        <div class="upload_proof">
          Upload College ID<sup style="color: #ac1a27">*</sup>
        </div>
        <input
          type="file"
          name="Col_idcard"
          id="Col_idcard"
          style="width: 165px"
        />
        <br />
      </div>
    </div>
    <button  *ngIf="isVerified === 'REJECTED' || isVerified === 'UNVERIFIED'"
      (click)="Submitdocs()"
      style="
        color: white;
        background-color: green;
        margin: auto;
        margin: 0rem 0rem 2rem 0rem;
        margin-left: 88%;
        z-index: 2;
      "
      mat-raised-button
      color="primary"
    >
      Submit
    </button>
  </mat-card>

  <i
    class="fa fa-user-plus"
    style="color: rgb(122, 122, 76)"
    aria-hidden="true"
  ></i>
  <span>&nbsp;&nbsp;ENROLLMENT INFORMATION</span>
  <mat-card
    *ngFor="let branch of branches"
    class="card-design"
    style="margin: 1rem 0rem"
  >
    <pre class="panel-text">Stream        :     {{ branch }}</pre>
    <div
    style="display: flex; align-items: center; justify-content: flex-start"
    >
    <pre class="panel-text">Courses      :</pre>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="primary" selected>DEMO TEST SERIES</mat-chip>
      <span *ngFor="let course of user.user.coursesOffered">
        <mat-chip selected *ngIf="branch === course.branch" color="accent">
          {{ course.examNameService }}
        </mat-chip></span
      >
    </mat-chip-list>
   </div>
  </mat-card>
</div>
