#contentcontainer {
  margin-left: 2rem;
  background-color: white;
}
#parent-tab {
  .mat-tab-labels {
    background: white;
    box-shadow: 0 0 20px 1px gray;
    display: flex;
    justify-content: space-around;
  }
  .mat-tab-header {
    border-bottom: none;
  }
}

#twomatgroup {
  .mat-tab-label {
    color: white !important;
    font-size: large;
    font-weight: bold;
  }
  .mat-tab-labels {
    background: gray;
    display: flex;
    justify-content: space-evenly;
  }
}
.mat-tab-label {
  font-size: medium;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #07c4fb;
}
.example-card {
  max-width: 300px;
  margin: 1rem;
  border-radius: 20px !important;
  box-shadow: 0 0 20px 1px #07c4fb !important;
}

.example-header-image {
  // background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-tab-body-content {
  height: 100%;
  overflow: hidden !important;
  margin: 0rem 3rem;
}
.timedetails {
  border-radius: 10px;
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.questiondetails {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.difficultydetails {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

.example-full-width {
  width: 100%;
}

.paginationControl {
  margin-left: 31%;
}
