<app-loader></app-loader>
<div class="container">
  <div class="left-container">
    <div class="row">
      <div class="col-sm-4">
        <button
          style="
            cursor: pointer;
            outline: none;
            border: 1px solid rgba(255, 153, 0, 1);
            margin-top: 50px;
          "
          class="btn btn-primary"
          (click)="selectBranchDialogOpen()"
        >
          Branch:{{ branchOpted }}
        </button>
        <button
          *ngIf="addressLocation !== '/userdashboard/profile'"
          style="
            cursor: pointer;
            margin-top: 0.5rem;
            outline: none;
            border: 1px solid rgba(255, 153, 0, 1);
          "
          routerLink="/userdashboard/profile/false"
          class="btn btn-primary"
        >
          My Profile
        </button>
        <button
          *ngIf="isAdmin === 'ADMIN'"
          style="
            cursor: pointer;
            margin-top: 0.5rem;
            outline: none;
            border: 1px solid rgba(255, 153, 0, 1);
          "
          routerLink="/userdashboard/adminPanel"
          class="btn btn-primary"
        >
          Admin Panel
        </button>
        <button
          style="
            cursor: pointer;
            outline: none;
            border: 1px solid rgba(255, 153, 0, 1);
          "
          routerLink="/userdashboard/demoseries/GATE"
          class="btn btn-primary"
          (click)="demo('DEMO')"
        >
          Demo
        </button>
      </div>
    </div>

    <div class="side-content">
      <div class="left-content">
        <p>&nbsp;</p>
        <p>G</p>
        <P>A</P>
        <p>T</p>
        <p>E</p>
        <p>&nbsp;</p>
      </div>
      <div class="right-content">
        <ul id="icon-list" style="list-style-type: none">
          <li>
            <a
              (click)="testseries('GATE-OTS')"
              [ngClass]="{ sideSelect: selectedItem == 'GATE-OTS' }"
              >Online Test Series</a
            >
          </li>
          <li><a (click)="downloadSoon()" href="#">Video Lectures</a></li>
          <li><a (click)="downloadSoon()" href="#">Question Bank</a></li>
          <li><a (click)="downloadSoon()" href="#">E-study Material</a></li>
        </ul>
      </div>
    </div>

    <div style="clear: both"></div>
    <div class="side-content">
      <div class="left-content">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <P>E</P>
        <p>S</p>
        <p>E</p>
        <p>&nbsp;</p>
      </div>
      <div class="right-content">
        <ul id="icon-list" style="list-style-type: none">
          <li><a (click)="downloadSoon()" href="#">Online Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">Video Lectures</a></li>
          <li><a (click)="downloadSoon()" href="#">Question Bank</a></li>
          <li><a (click)="downloadSoon()" href="#">E-study Material</a></li>
        </ul>
      </div>
    </div>

    <div style="clear: both"></div>
    <div class="side-content">
      <div class="left-content">
        <p style="margin-top: 0.5rem;">I</p>
        <P>I</P>
        <p>T</p>
        <p>J</p>
        <p>A</p>
        <p style="margin-bottom: 0.5rem;">M</p>
      </div>
      <div class="right-content">
        <ul id="icon-list" style="list-style-type: none">
          <li><a (click)="downloadSoon()" href="#">Online Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">Video Lectures</a></li>
          <li><a (click)="downloadSoon()" href="#">Question Bank</a></li>
          <li><a (click)="downloadSoon()" href="#">E-study Material</a></li>
        </ul>
      </div>
    </div>

    <div style="clear: both"></div>
    <div class="side-content">
      <div class="left-content">
        <p>&nbsp;</p>
        <p>T</p>
        <P>I</P>
        <p>F</p>
        <p>R</p>
        <p>&nbsp;</p>
      </div>
      <div class="right-content">
        <ul id="icon-list" style="list-style-type: none">
          <li><a (click)="downloadSoon()" href="#">Online Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">Video Lectures</a></li>
          <li><a (click)="downloadSoon()" href="#">Question Bank</a></li>
          <li><a (click)="downloadSoon()" href="#">E-study Material</a></li>
        </ul>
      </div>
    </div>

    <div style="clear: both"></div>
    <div class="side-content">
      <div class="left-content">
        <p style="margin-top: 0.5rem;">i</p>
        <P>P</P>
        <p>A</p>
        <p>T</p>
        <p style="margin-bottom: 0.5rem;">E</p>
      </div>
      <div class="right-content">
        <ul id="icon-list" style="list-style-type: none">
          <li><a (click)="downloadSoon()" href="#">Online Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">Video Lectures</a></li>
          <li><a (click)="downloadSoon()" href="#">Question Bank</a></li>
          <li><a (click)="downloadSoon()" href="#">E-study Material</a></li>
        </ul>
      </div>
    </div>

    <div style="clear: both"></div>
    <div class="side-content">
      <div class="left-content">
   
        <p style="margin-top: 0.5rem">P</p>
        <P>S</P>
        <p style="margin-bottom: 0.5rem">U</p>
      
     
      </div>
      <div class="right-content">
        <ul id="icon-list" style="list-style-type: none">
          <li><a (click)="downloadSoon()" href="#">ISRO Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">BARC Test Series</a></li>
          <!-- <li><a (click)="downloadSoon()" href="#">SAIL Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">CIL Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">RINL Test Series</a></li>
          <li style="margin-bottom: 2rem">
            <a (click)="downloadSoon()" href="#">BHEL Test Series</a>
          </li> -->
        </ul>
      </div>
    </div>

    <div style="clear: both"></div>
    <div class="side-content">
      <div class="left-content">
        <p>&nbsp;</p>
        <p>J</p>
        <P>E</P>
        <p>S</p>
        <p>T</p>
        <p>&nbsp;</p>
      </div>
      <div class="right-content">
        <ul id="icon-list" style="list-style-type: none">
          <li><a (click)="downloadSoon()" href="#">Online Test Series</a></li>
          <li><a (click)="downloadSoon()" href="#">Video Lectures</a></li>
          <li><a (click)="downloadSoon()" href="#">Question Bank</a></li>
          <li><a (click)="downloadSoon()" href="#">E-study Material</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--  </div> -->
  <div class="right-container" style="width: 75%; z-index: 0">
    <router-outlet></router-outlet>
  </div>

  <!-- <div class="w3-sidebar side-nav" style="width: 25%">
  <div class="col-sm-4">
    <button class="btn btn-primary">Demo</button>
  </div>
</div>

<div class="page-content" style="margin-left: 25%">
</div> -->
</div>
