<div id="contentcontainer">
  <h2>DEMO</h2>
  <mat-card *ngFor="let exam of exams" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <svg height="100" width="100">
          <circle cx="30" cy="30" r="30" fill="rgba(0,222,147,1)" />
          <text
            x="30%"
            y="35"
            text-anchor="middle"
            stroke="black"
            stroke-width="1px"
          >
            {{ exam.exam_name | slice: 0:2 | uppercase }}
          </text>
        </svg>
      </div>
      <mat-card-title>{{ exam.exam_name }}</mat-card-title>
      <mat-card-subtitle>{{ exam.exam_subheading }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content id="card-content">
      <div id="cont">
        <div class="sub-cont">
          <h4>Total Questions</h4>
          <h5>{{ exam.total_question }}</h5>
        </div>
        <div class="sub-cont">
          <h4>Total Marks</h4>
          <h5>{{ exam.total_marks }}</h5>
        </div>
        <div class="sub-cont">
          <h4>Duration</h4>
          <h5>{{ exam.duration }}</h5>
        </div>
      </div>
      <button class="btnactioncard" *ngIf="exam.content_type === 'test'">
        Start Now
      </button>
      <button class="btnactioncard" *ngIf="exam.content_type === 'video'">
        Watch Now
      </button>
      <button class="btnactioncard" *ngIf="exam.content_type === 'eseries'">
        Read Now
      </button>
    </mat-card-content>
  </mat-card>
</div>
